html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container input {
    padding: 1em;
    height: 10vh;
    width: 75%;
}
